@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
a{text-decoration: none ;color: #000;}

.reload, .delete{
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0 0 10px;

}


.popup{
    position: fixed;
    width: 600px;
    height: 500px;
    background-color: pink;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -9;
    display: none;
}


.popup input{position: absolute; right: 125px; bottom: -19px;}
.popup label{position: absolute; right: 0; bottom: -20px; font-size: 13px;}