
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{background-color: #f9f7f9;}
.content{width: 100%; padding: 0 2%; box-sizing: border-box;}


/* .content .work-wrap{display: grid; max-width: 1200px; margin: 0 auto; padding-bottom: 100px; grid-template-columns: repeat(3, 32%); grid-gap: 20px; justify-content: space-between;} */


.content .work-content{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    padding: 10px;
}
.content .work-content .work-img{width: 100%; overflow: hidden;}
.content .work-content:hover img{transform: scale(1.1); font-size: 0;}
/* 이미지태그 활용할때 부모에 폰트사이즈 0을 넣으면된다 */
.content .work-content img{width: 100%; transition: 0.5s;}
.content .work-content .work-desc p{text-align: center; font-size: 16px; padding: 10px 30px;}






@media screen and (min-width: 641px) and (max-width: 1200px){
    .content .work-wrap{grid-template-columns: repeat(auto-fill, 49%); grid-gap: 20px 0;}
    .window-content i{font-size: 5vw;}
    .work-content{width: 90%;}
}
@media screen and (max-width: 640px){
    .content .work-wrap{grid-template-columns: repeat(auto-fill, 99%); max-width: 640px;}
    .window-content i{font-size: 6vw; right: 30px; top: 20px;}
    .work-content{width: 100%;}
}

