@charset "utf-8";
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

.slick-prev{left: 50px; z-index: 1;}
.slick-next{right: 50px;}

.slick-prev::before,
.slick-next::before{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.slick-slide img{width: 100%;}

