@charset "utf-8";
*{margin: 0; padding: 0;}

.content1{
    width: 1280px;
    margin: 100px auto 0px;
}
.content1{
    width: 150px;
    height: 450px;
    background-color: #dae;
    border: 1px solid #000;
    box-sizing: border-box;
    
}
.content2{
    width: 150px;
    height: 450px;
    background-color: rgb(202, 42, 255);
    border: 1px solid #000;
box-sizing: border-box;
}
