@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
a{text-decoration: none ;color: #000;}


.slide{font-size: 0; width: 100%; height: 450px; overflow: hidden; position: relative;}
.slide > ul > li{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.slide > ul > li:nth-child(1){
    display: list-item;
    /* display: block; */
}
.slide .menu{position: relative; width: 1200px; margin: 0 auto; height: 100%; display: flex; justify-content: flex-end; align-items: center;}

.slide .menu ul{box-shadow: 0 4px 5px rgba(0,0,0,0.3);}
.slide .menu ul li{position: relative;}
.slide .menu ul li img{width: 100%;}
.slide .menu ul li.on::after{border: 2px solid #4285f4; position: absolute; width: 176px; height: 56px; left: 0; top: 0; content: "";}
/* 클래스를 추가해야지 에프터가 잡힙 제이쿼리에서는! */