@charset "utf-8";

.content .contact-wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.content .contact-content{background-color: #fff; border: 1px solid #ddd; border-radius: 5px; padding: 50px 30px; box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.2); display: flex; overflow: hidden; flex-wrap: wrap;}

.content .contact-content > div{flex-basis: 100%;}
.content .contact-content .title{padding-top: 1em; letter-spacing: -1px; margin-bottom: 0.5em;}
.content .contact-content .txt{font-size: 1.2em; text-align: center;}
.content .contact-content .sns{margin: 50px 0;}
.content .contact-content .sns ul{display: flex; justify-content: space-between;}
.content .contact-content .sns ul li{flex-basis: 20%; height: 50px; text-align: center; overflow: hidden;}
.content .contact-content .sns ul li img{width: 50px; height: 50px;}
.content .contact-content .sns ul li i{font-size: 50px;}



    









@media screen and (min-width: 641px) and (max-width: 1200px){
    .content .contact-content .title{font-size: 1.5em;}
    .content .contact-content .txt{font-size: 1.1em;}
}
@media screen and (max-width: 640px) {
    .content .contact-content .title{font-size: 1.2em;}
    .content .contact-content .txt{font-size: 1em;}
}

















.footer{position: relative;}