@charset "utf-8";

body[data-dark=true]{background-color: #333;}
.header[data-dark=true]{background-color: #333; border-bottom: 1px solid #3a3b3d;}
.header[data-dark=true] ul li a{color: #ccc;}
.header[data-dark=true] ul li.on a{color: #d9d9d9;}
.header[data-dark=true] ul li:hover::after,
.header[data-dark=true] ul li.on::after{background-color: #d9d9d9;}



#typed1[data-dark=true]{color: #d9d9d9;}
.type a[data-dark=true]{background-color: #272729; color: #d9d9d9;
background-color: #3d3d3d;}

.dark-btn[data-dark=true]{background-color: #272729;}
.dark-btn[data-dark=true] i{color: #d9d9d9;}

.m-btn[data-dark=true] .line{background-color: #d9d9d9;}
.m-nav[data-dark=true]{background-color: #272729;}
.m-nav[data-dark=true] .pic p,
.m-nav[data-dark=true] ul li a{color: #d9d9d9;}
.m-nav[data-dark=true] ul li{border-color: #d9d9d9;}



.footer[data-dark=true]{background-color: #333; border-top: 1px solid #3d3d3d;}
.footer[data-dark=true] p{color: #d9d9d9;}

.content .content-wrap[data-dark=true]{background-color: #272729; border-color: #3d3d3d;}
.content .title h3[data-dark=true]{color: #d9d9d9;}
.content .title h3[data-dark=true]::after{background-color: #d9d9d9;}

.content .about-wrap .about-content[data-dark=true]{background-color: #272729; border-color: #3d3d3d;}
.content .about-wrap .about-content[data-dark=true] p,
.content .about-wrap .about-content[data-dark=true] h3{color: #d9d9d9;}



.content .work-content[data-dark=true]{background-color: #272729; border-color: #3d3d3d;}
.content .work-content[data-dark=true] p{color: #d9d9d9;}

.content .contact-content[data-dark=true]{background-color: #272729; border-color: #3d3d3d;}
.content .contact-content[data-dark=true] p{color: #d9d9d9;}
.content .contact-content[data-dark=true] .sns ul li i{color: #fbfbfb;}

.header .etc ul li ul[data-dark=true]{background-color: #272729;}